.venv
pyproject.toml
uv.lock
.python-version

.streamlit/secrets.toml
.streamlit/config.toml
.secrets/

fatture_emesse
fatture_ricevute
fe_scadenze_multiple

__pycache__

OLD.zip
OLD_invoice.zip

e2e-tests/node_modules
e2e-tests/package-lock.json
e2e-tests/package.json
e2e-tests/cypress/fixtures/fatture_rucevute
e2e-tests/cypress/fixtures/fatture_emesse
e2e-tests/cypress/fixtures/fe_scadenze_multiple
e2e-tests/cypress/e2e/1-getting-started
e2e-tests/cypress/e2e/2-advanced-examples